body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.fullVHeight {
  height: 100vh !important;
}

.fullHeight {
  width: 100% !important;
}

.fullWidth {
  width: 100% !important;
}

.noPadding {
  padding: 0 !important;
}

.noMarginTop {
  margin-top: 0 !important;
}

.noMarginBottom {
  margin-bottom: 0 !important;
}

.noBorder {
  border: 0 !important;
}

.noBorderRadius {
  border-radius: 0 !important;
}

.prevent-highlight {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
